@page "/elsa/workflows/editor/{DefinitionId}"
@using ElsaWorkflows.UI.Extensions
@model ElsaWorkflows.UI.Pages.ElsaWorkflows.EditModel

<abp-style-bundle name="ElsaWorkflowsBundle">
    <abp-style src="/_content/MudBlazor/MudBlazor.min.css"/>
    <abp-style src="/_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css"/>
    <abp-style src="/_content/Radzen.Blazor/css/material-base.css"/>
    <abp-style src="/_content/Elsa.Studio.Shell/css/shell.css"/>
    <abp-style src="/Elsa.Studio.Host.CustomElements.styles.css"/>
</abp-style-bundle>

<abp-script-bundle>
    <abp-script src="/_content/BlazorMonaco/jsInterop.js"/>
    @* <abp-script src="/_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></abp-script> *@
    @* <abp-script src="/_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></abp-script> *@
    <abp-script src="/_content/MudBlazor/MudBlazor.min.js"/>
    <abp-script src="/_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"/>
    <abp-script src="/_content/Radzen.Blazor/Radzen.Blazor.js"/>
    <abp-script src="/designer.js"/>
</abp-script-bundle>

<script src="/_framework/blazor.webassembly.js" autostart="false"></script>

<elsa-workflow-definition-editor
    id="workflow-definition-editor"
    remote-endpoint="@Url.ToAbsoluteUrl("~/elsa/api")"
    definition-id="e61e8f2b9b443238"></elsa-workflow-definition-editor>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>

    <a class="dismiss">🗙</a>
</div>
