@page
@using Microsoft.Extensions.Localization
@using ElsaWorkflows.Localization
@using ElsaWorkflows.UI.Pages.ElsaWorkflows
@model ElsaWorkflows.UI.Pages.ElsaWorkflows.IndexModel
@inject IStringLocalizer<ElsaWorkflowsResource> L

@{
}
<h1>ElsaWorkflows</h1>
<p>@L["SamplePageMessage"]</p>
